<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Leave </h1>
    <p>
      <@= @user.name %> want a leave please check there leave
    </p>
    <p>
      for checking leave  link: <%= @url %>
    </p>
    <p> have a great day!</p>
  </body>
</html>